<head>
    <!-- <meta charset="UTF-8"> -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- <meta name="title" content="Share to Teams Page"> -->
    <meta property="og:title" content="Share to Teams Page">

    <!-- <meta name="description" content="This is an example page with Share to Teams functionality and website preview."> -->
    <meta property="og:description" content="This is an example page with Share to Teams functionality and website preview.">

    <meta property="og:image" content="https://img-s-msn-com.akamaized.net/tenant/amp/entityid/BB1hx8WC.img?w=612&h=459&m=6&x=728&y=256&s=262&d=262">

    <title>Share to Teams Page</title>
</head>

<body>
    <h1>Share to Teams Page</h1>

    <div class="teams-share-button"
        data-href="https://support.microsoft.com/en-us/office/get-started-with-sharepoint-909ec2f0-05c8-4e92-8ad3-3f8b0b6cf261"
        data-msg-text="Check out this page!"
        data-preview="true">
    </div>
</body>
